<?php

namespace Application\Controllers{{Namespace}};

use GreatWebsiteStudio\Controller\Controller;
use GreatWebsiteStudio\Request\Request;
use GreatWebsiteStudio\Response\Response;

class {{ControllerName}} extends Controller
{
    /**
     * @param Request $request
     * @param Response $response
     * 
     * @return Response
     */
    public function index(Request $request, Response $response)
    {
        //
    }
}
