<?php

namespace Application\Models{{Namespace}};

use GreatWebsiteStudio\Database\Model;

class {{ModelName}} extends Model
{
    /**
     * @var string
     */
    protected string $table = '';

    /**
     * @var array
     */
    protected array $attributes = [];
}