<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        * {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1rem;
            font-weight: 300;
        }

        ._404-wrapper {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ._404-card {
            text-align: center;
        }

        ._404-title {
            font-size: 5rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        ._404-subtitle {
            font-size: 1.75rem;
            color: #64748b;
        }

    </style>

    <title>Opps . . .</title>
</head>

<body>

    <div class="_404-wrapper">

        <div class="_404-card">

            <h1 class="_404-title">404</h1>

            <p class="_404-subtitle">Page not found.</p>

        </div>

    </div>

</body>

</html>