{layout 'layouts/root.latte'}

{block content}

<div>

    <section>

        <h1>Great Website Studio</h1>

        <p>A simple framework for building website.</p>

    </section>

    <footer>

        <p>Copyright &copy; {date('Y')} - <a href="https://great.web.id" target="_blank">Great Website Studio</a></p>

    </footer>

</div>

{/block}