<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- General CSS Files -->
     <link rel="stylesheet" href="{asset('assets/modules/bootstrap/css/bootstrap.min.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/fontawesome/css/all.min.css')}">
 
     <!-- CSS Libraries -->
     <link rel="stylesheet" href="{asset('assets/modules/bootstrap-daterangepicker/daterangepicker.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/select2/dist/css/select2.min.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/jquery-selectric/selectric.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}">
     <link rel="stylesheet" href="{asset('assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')}">
 
     <!-- Template CSS -->
     <link rel="stylesheet" href="{asset('assets/css/style.min.css')}">
     <link rel="stylesheet" href="{asset('assets/css/components.min.css')}">
     <link rel="stylesheet" href="{asset('assets/css/custom.css')}">

    <title>{$title}</title>
</head>

<body>

    {block content}{/block}

    <!-- General JS Scripts -->
    <script src="{asset('assets/modules/jquery.min.js')}"></script>
    <script src="{asset('assets/modules/popper.js')}"></script>
    <script src="{asset('assets/modules/tooltip.js')}"></script>
    <script src="{asset('assets/modules/bootstrap/js/bootstrap.min.js')}"></script>
    <script src="{asset('assets/modules/nicescroll/jquery.nicescroll.min.js')}"></script>
    <script src="{asset('assets/modules/moment.min.js')}"></script>
    <script src="{asset('assets/js/stisla.js')}"></script>

    <!-- JS Libraies -->
    <script src="{asset('assets/modules/cleave-js/dist/cleave.min.js')}"></script>
    <script src="{asset('assets/modules/cleave-js/dist/addons/cleave-phone.us.js')}"></script>
    <script src="{asset('assets/modules/jquery-pwstrength/jquery.pwstrength.min.js')}"></script>
    <script src="{asset('assets/modules/bootstrap-daterangepicker/daterangepicker.js')}"></script>
    <script src="{asset('assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}"></script>
    <script src="{asset('assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}"></script>
    <script src="{asset('assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')}"></script>
    <script src="{asset('assets/modules/select2/dist/js/select2.full.min.js')}"></script>
    <script src="{asset('assets/modules/jquery-selectric/jquery.selectric.min.js')}"></script>

    <!-- Page Specific JS File -->
    <script src="{asset('assets/js/page/forms-advanced.js')}"></script>

    <!-- Template JS File -->
    <script src="{asset('assets/js/scripts.js')}"></script>
    <script src="{asset('assets/js/custom.js')}"></script>

</body>

</html>